body {
	background-color: #777777;
	width: 960px;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 18px;
	color: #777777;
}

.header, .nav, .section, .aside, .clear {
	background-color: #ebebeb;
	text-align: center;
	padding-top:5px;
	padding-bottom: 5px;
}

.header {
	margin-left: 80px;
	margin-right:80px;
}

.nav {
	background-color: #ebebeb;
	text-align: center;
	margin-left: 80px;
	margin-right:80px;
	margin-top:10px;

}

.section {
	background-color: #ebebeb;
	text-align: center;
	float: left;
	width:420px;
	margin-left: 80px;
	margin-top:10px;
	margin-bottom:10px;
	margin-right:10px;

}

.article {
	background-color: #777777;
	margin-right:10px;
	margin-left:10px;
	color:#ebebeb;
	padding-top:10px;
	padding-bottom:10px;
}

.p, .htags {
	background-color:#ebebeb ;
	margin-right:10px;
	margin-left:10px;
	color: #777777;
	margin-right: 13px;
	margin-left: 13px;
	padding-top:1px;
	padding-bottom: 1px;
}

.p {
	margin-top:5px;
}

.htags {
	font-weight:600;
}

.aside {
	background-color: #ebebeb;
	text-align: center;
	float: right;
	width:360px;
	margin-right:80px;
	margin-top:10px;
	padding-bottom: 205px;
	margin-left: 10px;
}

.clear {
	background-color: #ebebeb;
	margin-left: 80px;
	margin-right: 80px;
	clear: both;

}